.player_timeline__timeline_knob {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 3px 6px rgba(0, 0, 0, 0.15);
}
.player_timeline__volume_slider {
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.25), -3px 0px 6px rgba(0, 0, 0, 0.15);
}
.player_controls > .player_controls__swap_button {
    @apply px-0 items-center justify-center flex;
}
