input.PhoneInputInput {
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #E5E7EB;
    font-size: 0.75rem;
    height: 30px;
    line-height: 1.25rem;
    padding-left: 0.75rem;
    width: 100%;
}
input.PhoneInputInput:focus {
    border-color: rgb(37 99 235);
    box-shadow: 0 0 #0000, 0 0 #0000, inset 0 0 0 1px #2463eb;
    font-size: 0.75rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
input.PhoneInputInput:hover:not(:focus) {
    border-color: #60A5FA;
}
input.PhoneInputInput::placeholder {
    font-size: 0.75rem;
    padding-bottom: 5px;
}
.PhoneInput__error input.PhoneInputInput {
    border-color: #dc2626;
}
.PhoneInput__error input.PhoneInputInput:focus {
    border-color: #dc2626;
    box-shadow: 0 0 #0000, 0 0 #0000, inset 0 0 0 1px #dc2626;
    font-size: 0.75rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.PhoneInput__error input.PhoneInputInput:hover:not(:focus) {
    border-color: #f87171;
}