import React, { ReactElement } from 'react';
import classNames from 'classnames';

export function {{properCase name}}({ className, alt = '{{properCase name}}' }: { className?: string; alt?: string; }): ReactElement {
    return (
        <svg 
            className={classNames(className, 'Svg', 'Svg__{{lowerCase name}}')}
            width="100%"
            xmlns="http://www.w3.org/2000/svg"
        >
            <title>{alt}</title>
        </svg>
    );
}
