.calendar {
    left: 0;
    top: 2px;
}

.react-calendar__tile--active {
    background-color: #007AFF;
    border-radius: 20px !important;
}

.react-calendar__tile--active:focus {
    background-color: #007AFF;
}

.react-calendar__tile--active:hover {
    background-color: #007AFF;
}
