name: Build and test
on: push
jobs:
  tests:
    name: 'Build and test'
    runs-on: ubuntu-latest
    steps:
      - uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: "America/New_York"
      - uses: actions/checkout@v2
      - uses: ouzi-dev/commit-status-updater@v1.1.0
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: 16.6.1
      - run: npm install
      - run: npm run build
      - run: npm test
      - uses: ouzi-dev/commit-status-updater@v1.1.0
        with:
          status: "${{ job.status }}"
